body {
  font-family: Be Vietnam;
}
textarea.form-control::placeholder {
  font-size: 1.12rem;
}
.display-1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 7rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 11.2rem;
}
.display-2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.2rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-7 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.9rem;
    font-size: calc( 3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.81rem !important;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1.2rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #709ed9 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #4b9b86 !important;
}
.bg-danger {
  background-color: #d58f76 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #709ed9 !important;
  border-color: #709ed9 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #3575c7 !important;
  border-color: #3575c7 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3575c7 !important;
  border-color: #3575c7 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #200960 !important;
  border-color: #200960 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #09021a !important;
  border-color: #09021a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #09021a !important;
  border-color: #09021a !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4b9b86 !important;
  border-color: #4b9b86 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #326759 !important;
  border-color: #326759 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #326759 !important;
  border-color: #326759 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #d58f76 !important;
  border-color: #d58f76 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #c35f3c !important;
  border-color: #c35f3c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #c35f3c !important;
  border-color: #c35f3c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #709ed9;
  color: #709ed9;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #709ed9;
  border-color: #709ed9;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #709ed9 !important;
  border-color: #709ed9 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #200960;
  color: #200960;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #200960;
  border-color: #200960;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #200960 !important;
  border-color: #200960 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #82786e;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #f7ed4a;
  color: #f7ed4a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4b9b86;
  color: #4b9b86;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #4b9b86;
  border-color: #4b9b86;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4b9b86 !important;
  border-color: #4b9b86 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #d58f76;
  color: #d58f76;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #d58f76;
  border-color: #d58f76;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #d58f76 !important;
  border-color: #d58f76 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.text-primary {
  color: #709ed9 !important;
}
.text-secondary {
  color: #200960 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #4b9b86 !important;
}
.text-danger {
  color: #d58f76 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #c1d5ee !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3f12bd !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fbf7ac !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #87c5b5 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #edcfc4 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #4b9b86;
}
.alert-danger {
  background-color: #d58f76;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #709ed9;
  border-color: #709ed9;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #709ed9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #98cdbf;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #709ed9;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #709ed9;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #709ed9;
  border-bottom-color: #709ed9;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #709ed9 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #200960 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23709ed9' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rT67oJHr2E {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-1920x1357.jpg");
  background-position: 80% 20%;
}
.cid-rT67oJHr2E H2 {
  color: #000000;
}
.cid-rT67oJHr2E .row {
  justify-content: flex-start;
}
.cid-rT67oJHr2E H1 {
  color: #000000;
}
.cid-rT67oJHr2E .mbr-text,
.cid-rT67oJHr2E .mbr-section-btn {
  color: #000000;
}
@media (min-width: 767px) {
  .cid-rT67oJHr2E .container {
    padding: 0 2rem;
  }
}
@media (max-width: 992px) {
  .cid-rT67oJHr2E .mbr-overlay {
    opacity: 0.7!important;
  }
}
.cid-rT67qzoRLl {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-rT67qzoRLl img {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}
.cid-rT67qzoRLl .card-phone {
  transition: all 0.3s;
  cursor: pointer;
  color: #295853;
  text-align: left;
}
.cid-rT67qzoRLl .card-phone:hover {
  color: #709ed9;
}
.cid-rT67qzoRLl .mbr-text,
.cid-rT67qzoRLl .mbr-section-btn {
  color: #465052;
}
.cid-rT67qzoRLl .card-title,
.cid-rT67qzoRLl .card-box {
  color: #000000;
}
@media (max-width: 992px) {
  .cid-rT67qzoRLl .img-col {
    margin-bottom: 3rem;
  }
}
.cid-rT67qzoRLl .mbr-section-subtitle {
  color: #999999;
}
.cid-rT67sgjwJ7 {
  padding-top: 105px;
  padding-bottom: 120px;
  position: relative;
  background-image: url("../../../assets/images/mbr-1920x1077.jpg");
}
.cid-rT67sgjwJ7 .card-header {
  background: transparent;
}
.cid-rT67sgjwJ7 .mbr-iconfont {
  font-size: 1.4rem!important;
}
.cid-rT67sgjwJ7 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rT67sgjwJ7 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rT67sgjwJ7 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rT67sgjwJ7 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rT67sgjwJ7 .card .card-header a.panel-title h5 .sign {
  padding-right: 1rem;
}
.cid-rT67sgjwJ7 .card .panel-body {
  color: #767676;
  padding-top: 1rem;
}
.cid-rT67sgjwJ7 h5 {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  border-bottom: 1px solid #ffffff;
  padding: 1rem 1rem;
}
@media (max-width: 992px) {
  .cid-rT67sgjwJ7 .md-pb {
    margin-bottom: 2rem;
  }
  .cid-rT67sgjwJ7 .wrapper {
    padding: 3rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rT67sgjwJ7 .wrapper {
    padding: 2rem 1rem;
  }
  .cid-rT67sgjwJ7 h5 {
    padding: 1rem 0rem;
  }
}
.cid-rT67sgjwJ7 .mbr-text,
.cid-rT67sgjwJ7 .mbr-section-btn {
  color: #ffffff;
}
.cid-rT67sgjwJ7 .panel-text {
  color: #ffffff;
}
.cid-rT67sgjwJ7 H4 {
  color: #ffffff;
}
.cid-rT67sgjwJ7 H5 {
  color: #ffffff;
  text-align: left;
}
.cid-sIN99T0l6v .nav-item:focus,
.cid-sIN99T0l6v .nav-link:focus {
  outline: none;
}
.cid-sIN99T0l6v .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sIN99T0l6v .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIN99T0l6v .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sIN99T0l6v .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sIN99T0l6v .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIN99T0l6v .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-sIN99T0l6v .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-sIN99T0l6v .navbar .dropdown-item {
  padding: 0.235rem 1.5rem;
}
.cid-sIN99T0l6v .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIN99T0l6v .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sIN99T0l6v .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sIN99T0l6v .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIN99T0l6v .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIN99T0l6v .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sIN99T0l6v .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIN99T0l6v .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIN99T0l6v .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIN99T0l6v .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIN99T0l6v .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sIN99T0l6v .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIN99T0l6v .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIN99T0l6v .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sIN99T0l6v .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sIN99T0l6v .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIN99T0l6v .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIN99T0l6v .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sIN99T0l6v .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sIN99T0l6v .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIN99T0l6v .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-sIN99T0l6v .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sIN99T0l6v .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sIN99T0l6v .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIN99T0l6v .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIN99T0l6v .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIN99T0l6v .dropdown-item.active,
.cid-sIN99T0l6v .dropdown-item:active {
  background-color: transparent;
}
.cid-sIN99T0l6v .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIN99T0l6v .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIN99T0l6v .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIN99T0l6v .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sIN99T0l6v .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIN99T0l6v .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIN99T0l6v ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sIN99T0l6v .navbar-buttons {
  text-align: center;
}
.cid-sIN99T0l6v button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sIN99T0l6v button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0095ff;
}
.cid-sIN99T0l6v button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIN99T0l6v button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIN99T0l6v button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIN99T0l6v button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIN99T0l6v nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIN99T0l6v nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIN99T0l6v nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIN99T0l6v nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIN99T0l6v .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-sIN99T0l6v a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sIN99T0l6v .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIN99T0l6v .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-sIN99T0l6v .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-sIN99T0l6v .nav-link:hover,
.cid-sIN99T0l6v .dropdown-item:hover,
.cid-sIN99T0l6v .icons-menu .mbr-iconfont:hover {
  color: #709ed9 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIN99T0l6v .navbar {
    height: 77px;
  }
  .cid-sIN99T0l6v .navbar.opened {
    height: auto;
  }
}
.cid-sIS7fhFXVM {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a5c2e6;
}
.cid-sIS7fhFXVM .mbr-overlay {
  background-color: #cccccc;
  opacity: 0.6;
}
.cid-sIS7fhFXVM textarea {
  min-height: 150px;
}
.cid-sIS7fhFXVM .form-col {
  background: #c3d2e6;
  padding: 3rem 1rem;
}
.cid-sIS7fhFXVM .form-wrap {
  max-width: 520px;
  margin: auto;
}
.cid-sIS7fhFXVM .text-wrap {
  max-width: 400px;
  border: 2px solid #635a51;
  padding: 3rem;
  margin: 4rem auto!important;
}
@media (max-width: 992px) {
  .cid-sIS7fhFXVM .form-wrap {
    max-width: 690px;
  }
  .cid-sIS7fhFXVM .md-pb {
    padding-bottom: 3rem;
  }
  .cid-sIS7fhFXVM .text-wrap {
    max-width: 690px;
  }
}
.cid-sIS7fhFXVM .input-group-btn {
  margin: 0.4rem;
  padding-top: 1.5rem;
}
.cid-sIS7fhFXVM .line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background: #ed4266;
  transition: background 0.3s;
  margin-bottom: 2rem;
}
.cid-sIS7fhFXVM .form-control,
.cid-sIS7fhFXVM .field-input {
  padding: 0.5rem 1.2rem;
  background-color: #fafafa;
  border: 3px solid #ffffff;
  color: #767676;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  outline: none;
}
.cid-sIS7fhFXVM .form-control:hover,
.cid-sIS7fhFXVM .field-input:hover,
.cid-sIS7fhFXVM .form-control:focus,
.cid-sIS7fhFXVM .field-input:focus {
  background-color: #f5f5f7;
  border: 3px solid #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-sIS7fhFXVM input::-webkit-input-placeholder,
.cid-sIS7fhFXVM textarea::-webkit-input-placeholder {
  color: #101010;
}
.cid-sIS7fhFXVM input:-moz-placeholder,
.cid-sIS7fhFXVM textarea:-moz-placeholder {
  color: #101010;
}
.cid-sIS7fhFXVM .jq-selectbox li,
.cid-sIS7fhFXVM .jq-selectbox li {
  background-color: #fafafa;
  color: #000000;
}
.cid-sIS7fhFXVM .jq-selectbox li:hover,
.cid-sIS7fhFXVM .jq-selectbox li.selected {
  background-color: #f5f5f7;
  color: #000000;
}
.cid-sIS7fhFXVM .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #fafafa;
}
.cid-sIS7fhFXVM .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f7;
}
.cid-sIS7fhFXVM H2 {
  color: #36404c;
}
@media (max-width: 767px) {
  .cid-sIS7fhFXVM .col-auto {
    margin: auto;
  }
}
.cid-sIS7fhFXVM H3 {
  color: #ffffff;
}
.cid-sIS7fhFXVM H4 {
  color: #101010;
}
.cid-sISdHQMO81 {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/mbr-1-1920x1440.jpg");
}
@media (min-width: 1500px) {
  .cid-sISdHQMO81 .container {
    max-width: 1400px;
  }
}
.cid-sISdHQMO81 img {
  width: 80%;
  height: auto;
  margin: auto;
}
.cid-sISdHQMO81 .content {
  margin: auto;
}
.cid-sISdHQMO81 .mbr-text,
.cid-sISdHQMO81 .mbr-section-btn {
  color: #999999;
}
@media (max-width: 1200px) {
  .cid-sISdHQMO81 img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .cid-sISdHQMO81 .img-col {
    padding-bottom: 2rem;
  }
}
.cid-sISdHQMO81 .quote {
  color: #200960;
}
.cid-sISdHQMO81 H3 {
  color: #200960;
}
.cid-sISdHQMO81 H4 {
  color: #d58f76;
}
.cid-sISkmgPMfM {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-sISkmgPMfM a:link {
  text-decoration: none;
}
.cid-sISkmgPMfM .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-sISkmgPMfM .icon-transition span:hover {
  background-color: #709ed9;
}
.cid-sISkmgPMfM .inner-text {
  line-height: 3em;
}
.cid-sISkmgPMfM .social-media {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sISkmgPMfM .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-sISkmgPMfM .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-sISkmgPMfM .content-text,
.cid-sISkmgPMfM .inner-text {
  color: #c1c1c1;
}
.cid-sJW5zzO10g {
  background-color: #eae8e4;
}
.cid-sJW5zzO10g .mbr-section-subtitle {
  margin-bottom: 1.5rem;
}
.cid-sJW5zzO10g .mbr-text {
  line-height: 1.15;
}
.cid-sJW5zzO10g .bottom_box {
  margin-top: 4rem;
}
.cid-sJW5zzO10g .title {
  position: relative;
  z-index: 1;
}
.cid-sJW5zzO10g .name {
  margin-bottom: 1rem;
}
.cid-sJW5zzO10g b,
.cid-sJW5zzO10g strong {
  font-weight: 500;
  color: #200960;
}
.cid-sJW5zzO10g .shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: #e6ca69;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.cid-sJW5zzO10g .linkBtn {
  margin-top: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sJW5zzO10g .mbr-section-subtitle {
    margin-bottom: 0.75rem;
  }
  .cid-sJW5zzO10g .bottom_box {
    margin-top: 2rem;
    text-align: left;
  }
  .cid-sJW5zzO10g .linkBtn {
    margin-top: 1.5rem;
  }
  .cid-sJW5zzO10g .name {
    margin-bottom: .5rem;
  }
}
.cid-sJW5REn7ux {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #eae8e4;
}
@media (min-width: 768px) {
  .cid-sJW5REn7ux .no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .cid-sJW5REn7ux .no-gutters > [class*="col"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.cid-sJW5REn7ux .border_line {
  border-top: 1px dotted rgba(85, 85, 85, 0.5);
}
.cid-sJW5REn7ux .card_wrap {
  padding: 5rem;
}
@media (max-width: 1199px) {
  .cid-sJW5REn7ux .card_wrap {
    padding: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sJW5REn7ux .card_wrap {
    padding: 3rem;
  }
}
.cid-sJW5REn7ux .column .card_wrap {
  border-bottom: 1px dotted rgba(85, 85, 85, 0.5);
}
.cid-sJW5REn7ux .border_right {
  border-right: 1px dotted rgba(85, 85, 85, 0.5);
}
.cid-sJW5REn7ux .header_box {
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
}
.cid-sJW5REn7ux .header_wrap {
  width: 100%;
}
.cid-sJW5REn7ux .number_wrap {
  background-color: #a5c2e6;
  width: 4rem;
  height: 5rem;
  transform: rotateY(35deg) rotateX(-35deg);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}
.cid-sJW5REn7ux .card_number {
  color: #eae8e4;
}
@media (max-width: 767px) {
  .cid-sJW5REn7ux .card_wrap {
    padding: 2.5rem .75rem;
  }
  .cid-sJW5REn7ux .header_box {
    margin-bottom: 1.5rem;
  }
  .cid-sJW5REn7ux .border_right {
    border-right: none;
  }
  .cid-sJW5REn7ux .number_wrap {
    width: 2.5rem;
    height: 3.5rem;
  }
}
