@font-face {
   font-family: 'Be Vietnam';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Utran/OneDrive%20-%20LogicEase%20Solutions/Documents/James%20Teng%20website/fonts/Be Vietnam/800italic.ttf') format('truetype');
}
